@import 'attributes';
@import 'editor';

.app{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#markdownnotes-wrapper{
    font: {
        family: $fontFamilyNormal;
        size: $fontSizeNormal;
        weight: $fontWeightNormal;
    }
    line-height: $lineHeightNormal;
    text-align: left;

    position:relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: $colorBodyBackground;
    color: $colorTextNormal;

    header{
        background: $colorTopBarBackground;
        box-sizing: border-box;
        height: $topBarHeight;
        line-height: 30px;
        position: absolute;
        width: 100%;
        z-index: 100;
        font: {
            family: $fontFamilyNormal;
            weight: $fontWeightNormal;
        }

        #note-title-wrapper{
            overflow:hidden;

            #note-title{
                background:transparent;
                border:none;
                color: $colorTopBarText;
                font: {
                    family: $fontFamilyNormal;
                    size: $fontSizeNormal;
                    weight: $fontWeightNormal;
                }
                line-height: 16px;
                margin: 3px 0 0;
                outline: none;
                padding: 0;
                width: calc(100% - #{$marginNormal});

                &::-webkit-input-placeholder{
                    font: {
                        size: $fontSizeNormal;
                        family: $fontFamilyNormal;
                    }
                    line-height: $lineHeightNormal;
                    color: $colorTopBarTextMuted;
                }
            }
            input#note-title:hover, input#note-title:focus{
                    border-bottom: 1px solid rgba(255,255,255,0.5);
                }
            span#note-title{
                display:block;
                max-width: $maxPanelWidth;
                margin:0 auto;
                line-height: $topBarHeight;
            }
        }

        #btn-menu{
            background: {
                color: $colorHighlight;
                image: url('/static/img/icon-menu.gif');
                position: 10px 9px;
                repeat: no-repeat;
                size: 11px;
            }
            color: $colorTopBarText;
            display: inline-block;
            float: left;
            left: -$marginNormal;
            line-height: $topBarHeight;
            margin: 0;
            padding: 0 $marginNormal 0 30px;
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            width: 45px;

            &.open{
                left:0;
                margin:0 $marginNormal 0 0;
                width: 305px;
            }
        }
    }

    #menu-bar{
        float: right;
        height: $topBarHeight;
        color: $colorTopBarText;

        .separator{
            border-left: 1px solid $colorTopBarSeparator;
            display: inline-block;
            height: $topBarHeight;
            margin: 0 0 -10px;
        }
        a{ 
            cursor: pointer;
            display: inline-block;
            padding: 0 $marginSmall;
            vertical-align:top;
        }
        .icon{
            font-size:25px;
            vertical-align: middle;
        }
        #btn-mode-hybrid{
            background: $colorTopBarHighlight;
        }
    }

    /* Main section */
    #main{
        box-sizing: border-box;
        height: calc(100% - #{$topBarHeight});
        overflow: hidden;
        position: absolute;
        top: $topBarHeight;
        width: 100%;

        #side-menu{
            background: $colorMenuBackground;
            box-shadow: 0 0 20px rgba(0,0,0,0.2);
            height: 100%;
            left: -350px;
            margin: 0;
            max-width: 100%;
            overflow: auto;
            padding: 0;
            position: absolute;
            width: 350px;
            z-index: 900;

            &.open{
                left:0!important;
            }

            ul{
                margin:0;
                padding:0;

                li{
                    list-style:none;
                    width:100%;
                    margin:0;
                    position:relative;
                    cursor:pointer;

                    a{
                        display:block;
                        width:100%;
                        height:100%;
                        padding:$marginSmall $marginNormal;
                        text-decoration:none;
                        overflow: hidden;
                        text-overflow:ellipsis;
                        white-space:nowrap;
                        color: $colorMenuText;
                        box-sizing:border-box;
                    } 

                    >a>.icon{
                        font-size:26px;
                        vertical-align:middle;
                        margin-right:10px;
                    }

                    &:hover{
                        background-color:#49506a!important;

                        a{
                            padding-right:35px
                        }

                        .actions{
                            display:block;
                        }
                    }

                    &.separator{
                        border-bottom: 1px solid $colorMenuSeparator;
                        height: 0;
                        margin: -1px $marginNormal -1px;
                        width: 320px;
                    }
                    &.separator+.separator{display: none;}

                    .title .untitled{color: $colorMenuText;}

                    .subtitle{display:block;
                        font-size: $fontSizeSmall;
                        text-transform: uppercase;
                        color: $colorMenuTextMuted;
                    }

                    .actions{
                        position:absolute;
                        display:none;
                        top:11px;
                        right:10px;
                        text-align:right;

                        a{
                            padding:0!important;
                            width:30px;
                            font-size:26px;
                            height:30px;
                            display:inline-block;
                            border-radius: 30px;
                            line-height: 30px;
                            text-align: center;

                            &:hover{
                                background:#353c4f;
                                color:#ffffff;
                            }
                        }
                    }
                }
            }
        }

        #input,#output{
            width:50%;height:100%;position:absolute;overflow:auto;box-sizing:border-box;
            -webkit-transition: -webkit-transform 300ms, all 300ms;
            -moz-transition: -moz-transform 300ms, all 300ms;
            -ms-transition: -ms-transform 300ms, all 300ms;
            transition: transform 300ms, all 300ms;

            >span{
                color: #999;
                padding: 5px;
                line-height: 25px
            }
        }

        #input{
            padding-bottom: 30px;background:#f6f6f6;

            >#editor{
                max-width: $maxPanelWidth;
                margin:0 auto;
            }
            >#editor, >#editor>form{
                height:100%;
            }
        }

        #output{
            background:#fff;
            left:50%;
            padding:$marginNormal;
            z-index:10;
            
            // Typographic grid test:
            // background-size: 20px 20px;
            // background-image: repeating-linear-gradient(0deg, #ccc, #ccc 1px, transparent 1px, transparent 40px),repeating-linear-gradient(-90deg, #fff, #fff 1px, transparent 1px, transparent 20px);

            #preview{
                max-width: $maxPanelWidth;
                margin:0 auto;/* Overflow fix */
                padding-bottom: $marginExtraLarge;
                word-wrap: break-word;

                h1, h2, h3, h4, h5{
                    color: $colorTextHeavy;
                }
                h2, h3, h4, h5{
                    font-weight:$fontWeightHeavy;
                }
                h4, h5{
                    line-height: $lineHeightNormal;
                    font-size: $fontSizeNormal;
                    margin: $marginLarge 0 0;
                }
                h1{
                    font-weight: $fontWeightHeavy;
                    font-size: $fontSizeExtraLarge;
                    margin: $marginLarge 0;
                    color: $colorTextHeavy;
                    line-height: $lineHeightNormal * 2;
                }
                h2{
                    font-size: $fontSizeLarge;
                    line-height: $lineHeightNormal * 2;
                    margin: 25px 0 15px;
                }
                h3{
                    font-size: 19px;
                    line-height: $lineHeightNormal;
                    margin: $marginLarge 0;
                }
                h4{
                    text-transform: uppercase;
                }
                ul, ol{
                    margin: 0 0 $marginLarge;
                    padding-left:$marginExtraLarge;
                    .task{
                        list-style:none;position:relative;
                        .checkbox{margin-left:-22px;text-align:center;display:inline-block;font-size:12px;width:12px;height:12px;line-height:12px;color:transparent;border:1px solid #999;position:relative;left:-8px;top:-2px;}
                        &.task-open>.checkbox{}
                        &.task-closed>.checkbox{border-color:$colorSuccess;color:$colorSuccess;}
                    }
                }

                //Content blocks
                code, pre, blockquote, .latex.block{
                    background:$colorSectionBlockBackground;
                }
                p, pre, blockquote, .latex.block{
                    margin: 0 0 20px;
                }
                pre, blockquote{
                    padding: 20px;
                    >*:last-child{
                        margin-bottom:0!important;
                    }
                }
                code, pre{
                    font-family: 'Roboto Mono', monospace;
                    font-size: 12px;
                }
                pre{
                    overflow: auto;
                    >code{
                        background: transparent;
                    }
                }

                br+.latex.block{margin-top:-20px;}
                b, strong{font-weight:$fontWeightExtraHeavy;color:$colorTextHeavy}

                hr{border:0;border-top:1px solid $colorBorderLight;margin:$marginExtraLarge 0;}
                img{max-width: 100%}
                li>ul, li>ol{margin:0;}

                p{
                    font-size: inherit;
                }
                table{
                    border-collapse:collapse;
                    th, td{border:1px solid $colorBorderLight;padding:3px 5px;}
                    th:empty, td:empty{border:none;padding:0;}
                }


                .MathJax{ //Inline
                    display:inline-block;
                    .noError{ // Formulas with errors
                        border:0;
                        color:inherit;
                        font-size:100%;
                        font-family:inherit;
                        font-weight:$fontWeightNormal;
                        border-bottom: 1px dashed #f00;
                    }
                }
                .MathJax_Display{ //Block
                    text-align: left!important;
                    margin:0;
                    >.MathJax{
                        background:none; margin:0;
                        padding: $marginExtraSmall $marginSmall;
                        box-sizing:border-box;
                        border-radius:0;
                    }
                    ~br{display:none;}
                }
            }
        }
    }

    &.input-only{
        #main #input{width:100%;background:#fff;}
        #main #output{left:100%;}
        #btn-mode-input{background:$colorTopBarHighlight;}
        #btn-mode-hybrid{background:transparent!important;}
    }
    &.output-only{
        #main #input{left:-50%;background:#fff;}
        #main #output{width:100%;left:0;}
        #btn-mode-output{background:$colorTopBarHighlight;}
        #btn-mode-hybrid{background:transparent!important;}
    }

    #MathJax_Message{display:none!important;}

    #side-menu, #btn-menu{/* Menu open transition */-webkit-transition: -webkit-transform 300ms, all 300ms;-moz-transition: -moz-transform 300ms, all 300ms;-ms-transition: -ms-transform 300ms, all 300ms;transition: transform 300ms, all 300ms;}

    /* Messages */
    #messages{
        bottom:0;
        left:0;
        margin:0 auto;
        max-width:100%;
        min-width:400px;
        position:absolute;
        right:0;
        width:50%;
        z-index:1001;

        .message{
            border-radius:3px;
            box-shadow:0 5px 10px -5px rgba(0,0,0,0.1);
            box-sizing:border-box;
            color:#fff;
            margin-bottom:3px;
            padding:3px 5px;
            width:100%;

            &.error{background: $colorErrorBackground}
            &.warning{background: $colorWarningBackground}
            &.info{background: $colorInfoBackground}

            .icon{
                font-size:25px;
                float: right;
                cursor: pointer;
                display: inline-block;
                margin: -3px 0 0;
                padding: 0 2px;
            }
            a{
                color: #fff;
            }
        }
    }

    .modal{
        box-sizing: border-box;
        background: $colorModalBackground;
        color: $colorModalText;
        position: absolute;
        z-index: 2000;
        padding: $marginNormal;
        box-shadow: 5px 5px 10px -3px rgba(0,0,0,0.1);

        .close{
            font-size: 25px;
            cursor: pointer;
            position: absolute;
            top: $marginNormal;
            right: $marginNormal;
        }

        .hint{
            font-size: $fontSizeSmall;
            color: $colorMenuTextMuted;
        }

        &.share{
            top: $topBarHeight + $marginSmall;
            right: $marginSmall;
            width: calc(100% - #{$marginSmall * 2});
            max-width: 350px;

            h2{
                margin: 5px 0 10px;
                font-weight: 100;
            }
            .share-url{
                padding: $marginExtraSmall;
                border: 1px solid rgba(255,255,255,0.2);
            }
        }
    }
}

/* Drag and drop upload overlay */
body.dragOver{
    #markdownnotes-wrapper{
        header, #main{
            filter:blur(2px);-moz-filter:blur(2px);-webkit-filter:blur(2px);-ms-filter:blur(2px);
        }
        #file-drop{
            display:block;
            background: rgba(255,255,255,0.6);
            h1{
                margin-top: 100px;
                color: $colorTextHeavy;
            }
        }
    }
}
#markdownnotes-wrapper #file-drop{
    z-index:1000;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;

    h1{
        text-align:center;
        margin-top:50px;
        font-size:$fontSizeExtraLarge;
        font-weight:$fontWeightHeavy;
    }
}

/* Scrollbars */
::-webkit-scrollbar{width:7px;height:7px;}
::-webkit-scrollbar-track{background: rgba(0,0,0,0.1);}
::-webkit-scrollbar-thumb{background: rgba(0,0,0,0.3);}
::-webkit-scrollbar-thumb:hover{background: rgba(0,0,0,0.4);}

#side-menu::-webkit-scrollbar-track{background: rgba(0,0,0,0.1);}
#side-menu::-webkit-scrollbar-thumb{background: rgba(255,255,255,0.2);}
#side-menu::-webkit-scrollbar-thumb:hover{background: rgba(255,255,255,0.4);}


/* Full screen */
:-webkit-full-screen #main{width: 100%;height: 100%;}

/* Print */
@media print{
    *{-webkit-transition:none!important;-moz-transition:none!important;-ms-transition:none!important;}
    #input, #btn-mode-fullscreen, #btn-menu, #side-menu, #menu-bar, #note-title-wrapper, .modal, #markdownnotes-wrapper header{display:none!important;}
    
    #markdownnotes-wrapper{
        overflow: visible!important;
        
        #main{
            height:auto;
            top:0;

            #output{
                margin-top:0;
                padding:0 $marginExtraSmall 20px;
                font-size:$fontSizeNormal;

                h1, h2, h3{page-break-after:avoid}
                h1, h2, h3, h4, h5{
                    &:first-child{
                        margin-top: 0;
                    }
                }
            }

            #preview{
                &h1, &h2, &h3, &h4, &h5{break-after: avoid}

                & h1:first-child, & h2:first-child, & h3:first-child{margin-top:0;padding-top:0;}

                .checkbox{
                    border:1px solid $colorTextHeavy!important;

                    .done{
                        color:$colorTextHeavy!important
                    }
                }
            }
        }

        #main, #main #output{width:100%!important;border:none!important;left:0!important;overflow:visible!important;}
    }
}


/* Mobile style corrections */
@media (max-width: 767px) {
    #markdownnotes-wrapper{
        overflow:visible;
        color:$colorTextHeavy;
        
        #note-title-wrapper{
            width:100%;border-bottom:1px solid $colorBorderLight;

            #note-title{
                color:$colorTextHeavy!important;
                padding:0 $marginNormal!important;
                margin:0;
                width:100%!important;
                box-sizing:border-box;

                &::-webkit-input-placeholder{
                    color: $colorTextMuted!important;
                }
            }
        }
        
        #btn-menu.open{width:45px!important;}

        #side-menu{
            left:-100%;
            width:100%;

            .actions{display:block;}
            li a{padding-right:45px!important;}
        }

        #input,#output{
            top: $marginExtraLarge;
            height: calc(100% - #{$marginExtraLarge});
            padding-bottom: $marginExtraLarge;
            width: 100%!important;
            -webkit-transition: none;
            -moz-transition: none;
            -ms-transition: none;
            transition: none;
        }

        #input{
            padding-bottom: 60px;
        }
        #output{
            left:100%;

            #preview{
                padding-bottom: 60px;

                h2,h3,h4,h5{
                    color:$colorTextHeavy;
                }
            }
        }

        /* Disable hybrid mode (defaults to editor) on mobiles */
        #btn-mode-hybrid, #btn-export, #btn-export+.separator{display:none!important}
        #btn-mode-input{color:#fff!important;}
        .output-only{
            #input{left:-100%;}
            #output{left:0!important;}
            #btn-mode-hybrid{color:inherit!important;}
            #btn-mode-output{color:#fff!important;}
            #btn-mode-input{color:inherit!important;}
        }
    }
}
