// Generic colors
$colorBackground: #fff;
$colorBackgroundInverted: #303749;
$colorBackGroundInvertedLight: #353c4f;
$colorBackgroundLight: rgba(0, 0, 0, 0.07); // equivalent to #eeeeee;
$colorBorderLight: #ccc;
$colorBorderLightInverted: #485065;
$colorErrorBackground: #d9534f;
$colorHighlight: #00b4f9;
$colorHighlightInverted: #49506a;
$colorInfoBackground: #00b4f9;
$colorSuccess: #0c0;
$colorText: #333;
$colorTextHeavy: #000;
$colorTextHeavyInverted: #fff;
$colorTextInverted: #fff;
$colorTextMuted: #999;
$colorTextMutedInverted: rgba(255,255,255,0.5);
$colorWarningBackground: #f0ad4e;

// Generic sizes
$fontFamilyNormal: Roboto, sans-serif;
$fontSizeMonospace: 13px;
$fontSizeExtraLarge: 40px; // H1
$fontSizeLarge: 25px;
$fontSizeNormal: 14px;
$fontSizeSmall: 10px;
$fontWeightExtraHeavy: 700;
$fontWeightHeavy: 400;
$fontWeightNormal: 300;
$lineHeightNormal: 20px;
$marginExtraLarge: 30px;
$marginExtraSmall: 5px;
$marginNormal: 15px;
$marginSmall: 10px;
$marginLarge: $lineHeightNormal;
$maxPanelWidth: 650px;
$topBarHeight: 30px;