$colorBodyBackground: #fff;
$colorBorderLight: #ccc;
$colorHighlight: #00b4f9;
$colorMenuBackground: #353c4f;
$colorMenuSeparator: #485065;
$colorMenuText: #fff;
$colorMenuTextMuted: rgba(255,255,255,0.5);
$colorSectionBlockBackground: #eee;
$colorSuccess: #0c0;
$colorTextHeavy: #000;
$colorTextNormal: #333;
$colorTopBarBackground: $colorMenuBackground;
$colorTopBarHighlight: #49506a;
$colorTopBarSeparator: $colorMenuSeparator;
$colorTopBarText: #fff;
$colorTopBarTextMuted: $colorMenuTextMuted;
$fontFamilyNormal: Roboto, sans-serif;
$fontSizeMonospace: 13px;
$fontSizeNormal: 14px;
$fontSizeSmall: 10px;
$fontWeightExtraHeavy: 700;
$fontWeightHeavy: 400;
$fontWeightNormal: 300;
$lineHeightNormal: 20px;
$marginExtraLarge: 30px;
$marginExtraSmall: 5px;
$marginNormal: 15px;
$marginSmall: 10px;
$maxPanelWidth: 650px;
$topBarHeight: 30px;