$colorBodyBackground: #fff;
$colorBodyBackgroundDark: #303749;
$colorBorderLight: #ccc;
$colorHighlight: #00b4f9;
$colorMenuBackground: #353c4f;
$colorMenuSeparator: #485065;
$colorMenuText: #fff;
$colorMenuTextMuted: rgba(255,255,255,0.5);
$colorSectionBlockBackground: rgba(0, 0, 0, 0.07); // equivalent to #eeeeee
$colorSuccess: #0c0;
$colorInfoBackground: $colorHighlight;
$colorWarningBackground: #f0ad4e;
$colorErrorBackground: #d9534f;
$colorTextHeavy: #000;
$colorTextNormal: #333;
$colorTopBarBackground: $colorMenuBackground;
$colorTopBarHighlight: #49506a;
$colorTopBarSeparator: $colorMenuSeparator;
$colorTopBarText: #fff;
$colorTopBarTextMuted: $colorMenuTextMuted;
$colorTextMuted: #999;
$colorModalBackground: $colorMenuBackground;
$colorModalText: #fff;
$fontFamilyNormal: Roboto, sans-serif;
$fontSizeMonospace: 13px;
$fontSizeExtraLarge: 40px; // H1
$fontSizeLarge: 25px;
$fontSizeNormal: 14px;
$fontSizeSmall: 10px;
$fontWeightExtraHeavy: 700;
$fontWeightHeavy: 400;
$fontWeightNormal: 300;
$lineHeightNormal: 20px;
$marginExtraLarge: 30px;
$marginExtraSmall: 5px;
$marginNormal: 15px;
$marginSmall: 10px;
$marginLarge: $lineHeightNormal;
$maxPanelWidth: 650px;
$topBarHeight: 30px;