/* BASICS */

.CodeMirror {
    font-family: 'Roboto Mono', monospace;
    height: auto;
    background: transparent;
}
.CodeMirror-scroll {
    overflow-y: hidden!important;
    overflow-x: auto!important;
    height:auto;
    margin-bottom: 0!important;
}

/* THE CUSTOM THEME */

/* Gutters and code folding */
.CodeMirror-gutters {white-space: nowrap; background:transparent; border:none;}
.CodeMirror-lines {padding: 4px 0;}
.CodeMirror pre {padding: 0 4px 0 0;}
.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {background-color:#fff;}

.CodeMirror-foldmarker {margin-left:10px;cursor:pointer;text-align:center;display:inline-block;font-size:14px;width:12px;height:12px;line-height:12px;border-radius:20px;border:2px solid #ccc;color:#ccc;}
.CodeMirror-foldgutter {width: 15px;}
.CodeMirror-foldgutter-open,.CodeMirror-foldgutter-folded {color:#666;cursor: pointer;}
.CodeMirror-foldgutter-open:after {content: "\25BE";}
.CodeMirror-foldgutter-folded:after {content: "\25B8";}
.CodeMirror-gutter-wrapper{text-align:center;line-height:15px;}

/* Syntax highlighting */
#editor pre{color:#333;font-size:12px;line-height:20px}
#editor .cm-variable-1, #editor .cm-variable-2, #editor .cm-variable-3, #editor .cm-keyword{color:inherit;}
#editor .cm-list {}
#editor .cm-number {color: #164;}
#editor .cm-def {color: #00f;}
#editor .cm-property {color: black;}
#editor .cm-operator {color: black;}
#editor .cm-comment, #editor .cm-code, #editor .cm-quote{color:#666;}
#editor .cm-listitem {}
#editor .cm-meta {color: #555;}
#editor .cm-error {color: #f00;}
#editor .cm-qualifier {color: #555;}
#editor .cm-builtin {color: #30a;}
#editor .cm-bracket {color: #997;}
#editor .cm-tag {}
#editor .cm-attribute {color: #00c;}
#editor .cm-header {color: #000; font-size: 120%;font-weight:bold}
    #editor .cm-formatting-header{font-weight:300;}
#editor .cm-formatting-list {color: #000;font-weight:bold}
    #editor .cm-formatting-list ul{}
#editor .cm-hr {color: #999;}
#editor .cm-linktext {}
#editor .cm-task-open, #editor .cm-task-closed{font-weight:bold}
        #editor .cm-task-open{color:#ccc;}
        #editor .cm-task-closed{color:#0c0;}
#editor .cm-linkhref, span.cm-href, #editor .cm-link{color:#00c; text-decoration:underline;}
#editor .cm-strong, #editor .cm-emstrong{font-weight: bold;}
#editor .cm-em, #editor .cm-emstrong{font-style: italic}

#editor .cm-formatting-task{font-weight: bold}
#editor .cm-formatting-task.cm-meta{color:#ccc;}
#editor .cm-formatting-task.cm-property{color:#0c0;}

/* LaTeX and code blocks */
#editor .cm-delimit-latex, #editor .cm-code-bracket-start, #editor .cm-code-bracket-end{display:inline-block;height:100%;color:#353c4f;background:rgba(0,0,0,0.1);padding-right:3px;padding-left:3px;}
        #editor .cm-latex.cm-bracket{color:#777}
#editor .cm-latex, #editor .cm-code, #editor .cm-quote, #editor .cm-formatting-code + .cm-comment, #editor .cm-formatting-code{color:#666;background:#eee;display:inline-block;height:100%}
        #editor .cm-latex.cm-tag{color:#11a;}
        #editor .cm-latex:last-child, #editor .cm-code:last-child{padding-right:3px;}
        #editor .cm-code:first-child:last-child{width:100%;box-sizing:border-box;}

span.cm-invalidchar {color: #f00;}

div.CodeMirror span.CodeMirror-matchingbracket, div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #000; font-weight:bold}
