# Local settings template
ADMINS = (
    ('Bob Bobson', 'b+bobson@gmail.com'),
)
MANAGERS = ADMINS

# Required for bug reports
EMAIL_HOST = 'smtp.server.org'
EMAIL_HOST_USER = 'postmaster@server.org'
EMAIL_HOST_PASSWORD = 'password'
EMAIL_PORT = 587
EMAIL_USE_TLS = True

SECRET_KEY = '212419af43263e2130bac0b5041d89e217bb6cbd'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'dev.db',
    }
}
