{% load compress %}
{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="notes">
<head>
    <title>{% block full_title %}{% block title %}Home{% endblock title %} | Markdown Notes: fast markdown editor with LaTeX support{% endblock full_title %}</title>
    <meta name="description" content="{% block description %}A markdown editor with LaTeX support, image uploads, code highlighting and print support.{% endblock %}"/>
{#TODO: Return Min. version before pushing to Master#}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>
    {% compress js %}
        <script src="{% static "js/libs/marked.js" %}"></script>
        <script src="{% static "js/libs/renderer.marked.js" %}"></script>
        <script src="{% static "bower_components/moment/min/moment.min.js" %}"></script>
        <script src="{% static "bower_components/moment-timezone/builds/moment-timezone-with-data.js" %}"></script>
        <script src="{% static "bower_components/FileSaver/FileSaver.js" %}"></script>
        <script src="{% static "bower_components/stringops/stringops.js" %}"></script>
        <script src="{% static "bower_components/highlightjs/highlight.pack.js" %}"></script>
        <script src="{% static "bower_components/codemirror/lib/codemirror.js" %}"></script>
        <script src="{% static "bower_components/codemirror/mode/markdown/markdown.js" %}"></script>
        <script src="{% static "bower_components/codemirror/mode/stex/stex.js" %}"></script>
        <script src="{% static "bower_components/codemirror/addon/mode/overlay.js" %}"></script>
        <script src="{% static "bower_components/codemirror/addon/mode/multiplex.js" %}"></script>
        <script src="{% static "bower_components/codemirror/addon/fold/foldcode.js" %}"></script>
        <script src="{% static "bower_components/codemirror/addon/fold/foldgutter.js" %}"></script>
        <script src="{% static "bower_components/codemirror/addon/fold/markdown-fold.js" %}"></script>
        <script src="{% static "bower_components/codemirror/addon/display/placeholder.js" %}"></script>
        <script src="{% static "bower_components/angular-modal-service/dst/angular-modal-service.min.js" %}"></script>
        <script src="{% static "js/codemirror/mode/gfm-latex/gfm-latex.js" %}"></script>
        <script src="{% static "js/codemirror/addon/edit/continuelist.js" %}"></script>
        <script src="{% static "js/codemirror/keymap/markdownnotes.js" %}"></script>
        <script src="{% static "js/modules.js" %}"></script>
        <script src="{% static "js/routes.js" %}"></script>
        <script src="{% static "js/debounce.js" %}"></script>
        <script src="{% static "js/services/notes.js" %}"></script>
        <script src="{% static "js/services/notebooks.js" %}"></script>
        <script src="{% static "js/services/uploads.js" %}"></script>
        <script src="{% static "js/services/messages.js" %}"></script>
        <script src="{% static "js/services/auth.js" %}"></script>
        <script src="{% static "js/controllers/notes.js" %}"></script>
        <script src="{% static "js/controllers/notesPreview.js" %}"></script>
        <script src="{% static "js/controllers/auth.js" %}"></script>
        <script src="{% static "js/directives/codemirror.js" %}"></script>
        <script src="{% static "js/directives/fullscreen.js" %}"></script>
        <script src="{% static "js/directives/imagedrop.js" %}"></script>
        <script src="{% static "js/directives/preview.js" %}"></script>
        <script src="{% static "js/directives/newNotebookMenuItem.js" %}"></script>
        <script src="{% static "js/directives/noteMenuItem.js" %}"></script>
        <script src="{% static "js/directives/notebookMenuItem.js" %}"></script>
        <script src="{% static "js/directives/setModeOnResize.js" %}"></script>
        <script src="{% static "js/directives/ng-time-relative.js" %}"></script>
        <script src="{% static "js/directives/ng-confirm-click.js" %}"></script>
    {% endcompress %}
    {% block extra_scripts %}{% endblock extra_scripts %}
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML&amp;delayStartupUntil=configured"></script>
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "css/site.scss" %}">
        <link rel="stylesheet" type="text/x-scss" href="{% static "bower_components/codemirror/lib/codemirror.css" %}">
        <link rel="stylesheet" type="text/x-scss" href="{% static "bower_components/highlightjs/styles/github.css" %}">
        <link rel="stylesheet" type="text/x-scss" href="{% static "css/app.scss" %}">
    {% endcompress %}
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,700,400|Roboto+Mono:300,300italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="icon" type="image/png" href="{% static "img/favicon.png" %}">
    <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0">
    <meta charset="utf-8" />
</head>
<body>
    {% block account_buttons %}
        <div id="account-buttons">
            {% spaceless %}
                {% block home_button %}
                    <a class="btn" href="{% url 'homepage' %}">Home</a>
                    <span class="separator"></span>
                {% endblock %}
                {% if not user.is_authenticated %}
                    <a class="btn primary" onclick="ga('send', 'event', 'Account', 'Sign up', 'Top bar')" href="{% url 'index' %}">Sign up</a>
                    <span class="separator"></span>
                    <a class="btn" onclick="ga('send', 'event', 'Account', 'Log in', 'Top bar')" href="{% url 'index' %}">Log in</a>
                {% else %}
                    <a class="btn primary" href="{% url 'index' %}">My notes</a>
                    <span class="separator"></span>
                    <a class="btn" onclick="ga('send', 'event', 'Account', 'Log out', 'Top bar')" href="{% url 'index' %}">Log out</a>
                {% endif %}
            {% endspaceless %}
        </div>
    {% endblock account_buttons %}
    {% block page %}
        
    {% endblock page %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-41659843-2', 'markdownnotes.com');
        ga('send', 'pageview');
    </script>
</body>
</html>
