{% extends "base.html" %}
{% load i18n %}
{% block title %}Feedback{% endblock %}
{% block description %}Submit feedback about Markdown Notes and help us build the best markdown editor.{% endblock %}
{% block page %}
    <div class="section light">
        <h1>Give feedback</h1>
        <p>Markdown Notes is not actively maintained anymore. It will remain online, but no new features will be developed. Nonetheless, <a href="https://github.com/nicbou/markdown-notes">Markdown Notes is an open source project</a>, and pull requests are welcome.</p>
        <p>If you have questions about Markdown Notes, send me an email at <a href="mailto:contact@nicolasbouliane.com">contact@nicolasbouliane.com</a>.</p>
        <p>Thank you!</p>
    </div>
{% endblock %}
