{% extends "base.html" %}
{% load i18n %}
{% block title %}Log in{% endblock %}
{% block description %}Log in to see your notes{% endblock %}
{% block page %}
    {% if not user.is_authenticated %}
        <div class="section light header login">
            <h1>Log in</h1>
        </div>
        <div class="section dark login">
            {% trans "Log in" as signup_text %}
            {% include "form.html" with form=form submit_text=signup_text %}
        </div>
    {% else %}
        <p>You are already logged in.</p>
        <a href="{% url 'index' %}">Return to your notes</a>
    {% endif %}
{% endblock %}