{% extends "base.html" %}
{% load i18n %}
{% block title %}Password reset{% endblock %}
{% block description %}Reset your password{% endblock %}
{% block page %}
    <div class="section light header login">
        <h1>Password reset</h1>
    </div>
    <div class="section dark login">
        {% if validlink %}
            <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
            {% trans "Reset password" as signup_text %}
            {% include "form.html" with form=form submit_text=signup_text %}
        {% else %}
            <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
        {% endif %}
    </div>
{% endblock %}