{% extends "base.html" %}
{% load i18n %}
{% block title %}Password reset{% endblock %}
{% block description %}Reset your password{% endblock %}
{% block page %}
    {% if not user.is_authenticated %}
        <div class="section light header login">
            <h1>Password reset</h1>
        </div>
        <div class="section dark login">
            <p>Please specify your email address to receive instructions for resetting your password.</p>
            {% trans "Reset password" as signup_text %}
            {% include "form.html" with form=form submit_text=signup_text %}
        </div>
    {% else %}
        <div class="section light header login">
            <h1>You are logged in.</h1>
        </div>
        <div class="section dark login">
            <a href="{% url 'index' %}">Return to your notes</a>
        </div>
    {% endif %}
{% endblock %}