{% extends "base.html" %}
{% load i18n %}
{% block title %}Sign up{% endblock %}
{% block description %}Create an account on Markdown Notes to start writing neatly formatted engineering notes.{% endblock %}
{% block page %}
    {% if not user.is_authenticated %}
        <div class="section light header signup">
            <h1>Sign up</h1>
        </div>
        <div class="section dark signup">
            {% trans "Sign up" as signup_text %}
            {% include "form.html" with form=form submit_text=signup_text %}
        </div>
    {% else %}
        <p>You are already logged in.</p>
        <a href="{% url 'index' %}">Return to your notes</a>
    {% endif %}
{% endblock %}