{% extends "base.html" %}
{% load i18n %}
{% block title %}Account settings{% endblock %}
{% block description %}Change your account settings{% endblock %}
{% block page %}
    {% if user.is_authenticated %}
        <div class="section light header">
            <h1 class="page-header">{% trans "Account settings" %}</h1>
        </div>
        <div class="section dark">
            {% include "form.html" with submit_text="Save changes" %}
        </div>
    {% else %}
        <p>You must be logged in to see this page.</p>
    {% endif %}
{% endblock %}