<div id="markdownnotes-wrapper">
    <div id="file-drop" imagedrop on-image-drop="uploadImage()">
        <h1>Drop images anywhere to insert them</h1>
    </div>
    <div id="messages" ng-repeat="message in messageService.messages">
        <div class="message {{message.class}}">{{message.message}}</div>
    </div>
    <header>
        <nav id="menu-bar"><!--
            --><a id="btn-mode-input" title="Show only the editor window"  ng-click="toggleMode('input')">Editor</a><!--
            --><span class="separator"></span><!--
            --><a id="btn-mode-hybrid" title="Show the editor and preview window"  ng-click="toggleMode('hybrid')">Editor + Preview</a><!--
            --><span class="separator"></span><!--
            --><a id="btn-mode-output" title="Show only the preview window"  ng-click="toggleMode('output')">Preview</a><!--
            --><span class="separator"></span><!--
            --><a id="btn-mode-fullscreen" title="Toggle full screen mode" ng-click="toggleFullScreen()"><i class="icon ion-arrow-expand"></i></a>
        </nav>
        <a href="" id="btn-menu" ng-click="toggleMenu()">Menu</a>
        <div id="note-title-wrapper">
            <input type="text" id="note-title" placeholder="Untitled note" tabindex="1" ng-model="notesService.notes[currentNoteIndex].title">
        </div>
    </header>
    <div id="main">
        <nav id="side-menu">
            <ul>
                <li class="new"><a ng-click="create(true)"><i class="icon ion-ios-compose-outline"></i>Create a note</a></li>
                <li class="separator"></li>
                <li ng-repeat="note in notesService.notes">
                    <a class='link' ng-click="loadFromMenu($event, note.id)" ng-href="/app/#/?note={{note.id}}">
                        <span class='title'>{{note.title}}<span class="untitled" ng-show="!note.title">(untitled note)</span></span>
                        <time class='subtitle' relative datetime="{{ note.date_updated }}"></time>
                    </a>
                    <div class="actions">
                        <a ng-click="export(note, true)" class="icon ion-ios-cloud-download-outline export"></a>
                        <a ng-click="remove(note)" class='icon ion-ios-close-outline delete'></a>
                    </div>
                </li>
                <li class="separator"></li>
                <li class="no-demo"><a href="/auth/account/"><i class="icon ion-ios-gear-outline"></i>Account settings</a></li>
                <li class="no-demo"><a href="/feedback/" title="Give feedback"><i class="icon ion-ios-chatboxes-outline"></i>Give feedback</a></li>
                <li class="separator"></li>
                <li class="no-demo"><a href="/auth/logout/">Log out</a></li>
            </ul>
        </nav>
        <div id="input">
            <div id="editor" ng-click="focusEditor()">
                <form action="">
                    <textarea id="textarea" placeholder="Start typing here..." name="input" ui-codemirror="codemirrorOptions" ng-model="notesService.notes[currentNoteIndex].content"></textarea>
                </form>
            </div>
        </div>
        <div id="output">
            <div id="preview">
            </div>
        </div>
    </div>
</div>