<div id="markdownnotes-wrapper" ng-class="displayMode" set-mode-on-resize>
    <div id="file-drop" imagedrop on-image-drop="uploadImage()">
        <h1>Drop images anywhere to insert them</h1>
    </div>
    <div id="messages">
        <div ng-repeat="message in messageService.messages" class="message {{message.class}}">
            <span ng-bind-html="message.message"></span>
            <i ng-hide="message.timeout" class="icon dismiss ion-ios-close-empty" ng-click="messageService.remove(message)"></i>
        </div>
    </div>
    <div ng-show="shareWindowOpen" class="modal share">
        <h2>Share this note</h2>
        <i class="close icon ion-ios-close-outline" ng-click="shareWindowOpen = null"></i>
        <div class="share-url" ng-bind="'http://markdownnotes.com/+' + notesService.notes.active[currentNoteIndex].public_id"></div>
        <span class="hint">People who know this URL can see this note, but cannot edit it.</span>
    </div>
    <header>
        <nav id="menu-bar"><!--
            --><a id="btn-mode-input" title="Show only the editor window"  ng-click="toggleMode(MODE_INPUT_ONLY)">Editor</a><!--
            --><span class="separator"></span><!--
            --><a id="btn-mode-hybrid" title="Show the editor and preview window"  ng-click="toggleMode(MODE_HYBRID)">Editor + Preview</a><!--
            --><span class="separator"></span><!--
            --><a id="btn-mode-output" title="Show only the preview window"  ng-click="toggleMode(MODE_OUTPUT_ONLY)">Preview</a><!--
            --><span class="separator"></span><!--
            --><a title="Share this note" ng-click="shareWindowOpen = true"><i class="icon ion-ios-redo"></i> Share</a><!--
            --><span class="separator"></span><!--
            --><a id="btn-mode-fullscreen" title="Toggle full screen mode" fullscreen><i class="icon ion-arrow-expand"></i></a>
        </nav>
        <a href="" id="btn-menu" ng-click="sideMenuOpen = !sideMenuOpen" ng-class="{'open': sideMenuOpen}">Menu</a>
        <div id="note-title-wrapper">
            <input type="text" id="note-title" placeholder="Untitled note" tabindex="1" ng-model="notesService.notes.active[currentNoteIndex].title">
        </div>
    </header>
    <div id="main">
        <nav id="side-menu" ng-class="{'open': sideMenuOpen}">
            <ul>
                <li class="new">
                    <a ng-click="createNote(true)">
                        <i class="icon ion-ios-compose-outline"></i>Create a note
                    </a>
                </li>
                <li new-note-menu-item></li>
                <li class="separator"></li>
                <li ng-repeat="note in notesService.notes.active | orderBy:noteRanker | filter:{notebook_uri: null}">
                    <a ng-click="loadNoteFromMenu($event, note.id)" ng-href="/app/#/?note={{note.id}}">
                        <span class='title'>{{note.title}}<span class="untitled" ng-show="!note.title">Untitled note</span></span>
                        <time class='subtitle' relative datetime="{{ note.date_updated }}"></time>
                    </a>
                    <div class="actions">
                        <a ng-click="exportNote(note, true)" class="icon ion-ios-cloud-download-outline export"></a>
                        <a ng-click="removeNote(note)" class='icon ion-ios-trash-outline no-demo'></a>
                    </div>
                </li>
                <li class="separator" ng-show="notebooksService.notebooks.length > 0"></li>
                <li class="folder" ng-repeat="notebook in notebooksService.notebooks" ng-class="{'expanded': notebook.expanded}">
                    <a ng-click="notebook.expanded = !notebook.expanded">
                        <i class="icon ion-ios-browsers-outline"></i>{{notebook.title}}
                    </a>
                    <div class="actions">
                        <a class='icon ion-ios-close-outline' ng-click="deleteNotebook(notebook)"></a>
                    </div>
                    <ul ng-show="notebook.expanded">
                        <li class="separator"></li>
                        <li ng-repeat="note in notes = (notesService.notes.active | orderBy:noteRanker | filter:{notebook_uri: notebook.resource_uri})">
                            <a ng-click="loadNoteFromMenu($event, note.id)" ng-href="/app/#/?note={{note.id}}">
                                <span class='title'>{{note.title}}<span class="untitled" ng-show="!note.title">Untitled note</span></span>
                                <time class='subtitle' relative datetime="{{ note.date_updated }}"></time>
                            </a>
                            <div class="actions">
                                <a ng-click="exportNote(note, true)" class="icon ion-ios-cloud-download-outline export"></a>
                                <a ng-click="removeNote(note)" class='icon ion-ios-trash-outline no-demo'></a>
                            </div>
                        </li>
                        <li ng-show="notes.length === 0">
                            <span class='title muted'>Drag notes here to add them to this notebook.</span>
                        </li>
                    </ul>
                </li>
                <li class="folder trash no-demo" ng-class="{'expanded': showTrash}">
                    <a ng-click="showTrash = !showTrash">
                        <i class="icon ion-ios-trash-outline"></i>Trash
                    </a>
                    <div class="actions">
                        <a ng-click="emptyTrash()" ng-confirm-click="This will delete every note in the trash permanently. This action cannot be reversed." class='icon ion-ios-close-outline' ng-show="notesService.notes.deleted.length > 0"></a>
                    </div>
                    <ul ng-show="showTrash">
                        <li class="separator"></li>
                        <li ng-show="notesService.notes.deleted.length === 0">
                            <span class='title muted'>No notes in trash</span>
                        </li>
                        <li ng-repeat="note in notesService.notes.deleted | orderBy:noteRanker">
                            <span>
                                <span class='title'>{{note.title}}<span class="untitled" ng-show="!note.title">Untitled note</span></span>
                                <time class='subtitle' relative datetime="{{ note.date_updated }}"></time>
                            </span>
                            <div class="actions">
                                <a ng-click="restoreNote(note)" class="icon ion-ios-undo-outline"></a>
                                <a ng-click="removeNote(note)" ng-confirm-click="This will delete this note permanently. This action cannot be reversed." class='icon ion-ios-close-outline'></a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="separator"></li>
                <li class="no-demo"><a onclick="ga('send', 'event', 'Account', 'Account settings', 'Side menu')" href="/auth/account/"><i class="icon ion-ios-gear-outline"></i>Account settings</a></li>
                <li class="no-demo"><a onclick="ga('send', 'event', 'Social', 'Feedback', 'Side menu')" href="/feedback/" title="Give feedback"><i class="icon ion-ios-chatboxes-outline"></i>Give feedback</a></li>
                <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=contact%40nicolasbouliane%2ecom&lc=CA&item_name=Markdown%20Notes&no_note=1&no_shipping=1&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_LG%2egif%3aNonHosted" target="_blank"><i class="icon ion-ios-heart-outline"></i>Donate</a></li>
                <li class="separator"></li>
                <li class="no-demo"><a onclick="ga('send', 'event', 'Account', 'Log out', 'Side menu')" href="/auth/logout/">Log out</a></li>
            </ul>
        </nav>
        <div id="input">
            <div id="editor" ng-click="focusEditor()">
                <form action="">
                    <textarea id="textarea" placeholder="Start typing here..." name="input" ui-codemirror="codemirrorOptions" ng-model="notesService.notes.active[currentNoteIndex].content"></textarea>
                </form>
            </div>
        </div>
        <div id="output">
            <div id="preview" preview>
            </div>
        </div>
    </div>
</div>