<div id="auth-modal">
    <div class="overlay {{ formType }}" ng-class="msg ? 'with-message' : ''" >
        <div ng-show="formType == 'login'">
            <form ng-submit="login()">
                <div class="section light header login">
                    <h1>Log in</h1>
                    <div class="msg {{ msgType }}" ng-show="msg">{{ msg }}</div>
                </div>
                <div class="section dark login" ng-class="{'error' : errorMsg}">
                    <input type="text" placeholder="Username" required ng-model="formData.username"/>
                    <input type="password" placeholder="Password" required ng-model="formData.password"/>
                    <div>
                        <input type="checkbox" id="remember-me" ng-model="formData.rememberMe"/>
                        <label for="remember-me">Remember me</label>
                    </div>
                    <div class="submit-wrapper">
                        <input type="submit" class="btn btn-primary btn-large" value="Log in"/>
                    </div>
                </div>
                <div class="links">
                    <a href ng-click="formType = 'signup'">Create an account</a> | <a href ng-click="formType = 'passwordRecovery'">Forgot your password?</a>
                </div>
            </form>
        </div>
        <div ng-show="formType == 'signup'">
            <form ng-submit="signup()">
                <div class="section light header login">
                    <h1>Sign Up</h1>
                    <div class="msg {{ msgType }}" ng-show="msg">{{ msg }}</div>
                </div>
                <div class="section dark login">
                    <input type="text" placeholder="Username" required ng-class="{'errorField' : errorFields.indexOf('username') > -1}" ng-model="formData.username"/>
                    <input type="email" placeholder="Email" required ng-class="{'errorField' : errorFields.indexOf('email') > -1}" ng-model="formData.email"/>
                    <input type="password" placeholder="Password" ng-class="{'errorField' : errorFields.indexOf('password') > -1}" required ng-model="formData.password"/>
                    <input type="password" placeholder="Password again" ng-class="{'errorField' : errorFields.indexOf('passwordAgain') > -1}" required ng-model="formData.passwordAgain"/>
                    <div class="submit-wrapper">
                        <input type="submit" class="btn btn-primary btn-large" value="Sign Up"/>
                    </div>
                </div>
                <div class="links">
                    <a href ng-click="formType = 'login'">Back to login</a>
                </div>
            </form>
        </div>
        <div ng-show="formType == 'passwordRecovery'">
            <form ng-submit="passwordRecovery()">
                <div class="section light header login">
                    <h1>Lost password</h1>
                    <div class="msg {{ msgType }}" ng-show="msg">{{ msg }}</div>
                </div>
                <div class="section dark login">
                    <input type="email" placeholder="Email" required ng-class="{'errorField' : errorFields.indexOf('email') > -1}" ng-model="formData.email"/>
                    <div class="submit-wrapper">
                        <input type="submit" class="btn btn-primary btn-large" value="Recover password"/>
                    </div>
                </div>
                <div class="links">
                    <a href ng-click="formType = 'login'">Back to login</a>
                </div>
            </form>
        </div>
        <div ng-show="formType == 'accountSettings'">
            <form ng-submit="accountSettings()">
                <a class="close" ng-click="close()"><i class="icon ion-ios-close-outline"></i></a>
                <div class="section light header login">
                    <h1>Settings</h1>
                    <div class="msg {{ msgType }}" ng-show="msg">{{ msg }}</div>
                </div>
                <div class="section dark login">
                    <input type="email" placeholder="Email" ng-class="{'errorField' : errorFields.indexOf('email') > -1}" ng-model="formData.email"/>
                    <input type="password" placeholder="Old password" ng-class="{'errorField' : errorFields.indexOf('oldPassword') > -1}" ng-model="formData.oldPassword"/>
                    <input type="password" placeholder="New password" ng-class="{'errorField' : errorFields.indexOf('password') > -1}" ng-model="formData.password"/>
                    <input type="password" placeholder="New password again" ng-class="{'errorField' : errorFields.indexOf('passwordAgain') > -1}" ng-model="formData.passwordAgain"/>
                    <div class="submit-wrapper">
                        <input type="submit" class="btn btn-primary btn-large" value="Save"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="fade"></div>
</div>