<div id="auth-modal">
    <div id="overlay">
        <div ng-show="formType == 'login'">
            <form ng-submit="login()">
                <div class="section light header login">
                    <h1>Log in</h1>
                </div>
                <div class="section dark login">
                    <input type="text" placeholder="Username" ng-model="formData.username"/>
                    <input type="password" placeholder="Password" ng-model="formData.password"/>
                    <input type="submit" class="btn btn-primary btn-large" value="Log in"/>
                </div>
            </form>
        </div>
        <div ng-show="formType == 'signup'">

        </div>
    </div>
    <div id="fade"></div>
</div>